.container {
  height: 100%;
  width: 100%;
}
.parent {
  display: flex;
  width: 100%;
  height: 100%;
}
/* Shadow Box */
.child1 {
  border-radius: 15px;
  padding: 1px 1px;
  border: 3px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.child1:hover {
  outline: 0px solid transparent;
  padding: 1px 1px;
  border-radius: 15px;
  border: 3px solid rgba(18, 136, 255);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 8.1px -57px rgba(18, 136, 255, 0.256),
    0px 0px 19.5px -57px rgba(18, 136, 255, 0.365),
    0px 0px 36.7px -57px rgba(18, 136, 255, 0.418),
    0px 0px 65.4px -57px rgba(18, 136, 255, 0.457),
    0px 0px 122.4px -57px rgba(18, 136, 255, 0.524),
    0px 0px 293px -57px rgba(18, 136, 255, 0.78);
}
.child2 {
  border-radius: 15px;
  padding: 1px 1px;
  border: 3px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.child2:hover {
  outline: 0px solid transparent;
  padding: 1px 1px;
  border-radius: 15px;
  border: 3px solid rgba(255, 117, 18);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 8.1px -57px rgba(255, 117, 18, 0.256),
    0px 0px 19.5px -57px rgba(255, 117, 18, 0.365),
    0px 0px 36.7px -57px rgba(255, 117, 18, 0.418),
    0px 0px 65.4px -57px rgba(255, 117, 18, 0.457),
    0px 0px 122.4px -57px rgba(255, 117, 18, 0.524),
    0px 0px 293px -57px rgba(255, 117, 18, 0.78);
}
.child3 {
  border-radius: 15px;
  padding: 1px 1px;
  border: 3px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.child3:hover {
  outline: 0px solid transparent;
  padding: 1px 1px;
  border-radius: 15px;
  border: 3px solid rgba(139, 26, 196);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 8.1px -57px rgba(139, 26, 196, 0.256),
    0px 0px 19.5px -57px rgba(139, 26, 196, 0.365),
    0px 0px 36.7px -57px rgba(139, 26, 196, 0.418),
    0px 0px 65.4px -57px rgba(139, 26, 196, 0.457),
    0px 0px 122.4px -57px rgba(139, 26, 196, 0.524),
    0px 0px 293px -57px rgba(139, 26, 196, 0.78);
}
.child4 {
  border-radius: 15px;
  padding: 1px 1px;
  border: 3px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.child4:hover {
  outline: 0px solid transparent;
  padding: 1px 1px;
  border-radius: 15px;
  border: 3px solid rgba(255, 18, 200);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 8.1px -57px rgba(255, 18, 200, 0.256),
    0px 0px 19.5px -57px rgba(255, 18, 200, 0.365),
    0px 0px 36.7px -57px rgba(255, 18, 200, 0.418),
    0px 0px 65.4px -57px rgba(255, 18, 200, 0.457),
    0px 0px 122.4px -57px rgba(255, 18, 200, 0.524),
    0px 0px 293px -57px rgba(255, 18, 200, 0.78);
}
/* Breakpoint */
@media only screen and (max-width: 768px) {
  .parent {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
}
